
    h1,a,h2,h3{
        text-align: center;
        color:  #3e677d;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    hr {
        border: none;
        height: 3px;
        background-color: rgb(143, 190, 224);
    
    }

    .divi{
        color: rgb(82, 83, 65);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: space-around;
    }
    p,ul{
        color: rgb(82, 83, 65);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: space-around;
        margin-left:300px ;
    }
    
    .img{
        margin-left: 28%;
    }

    
    #f{
        color: rgb(60, 118, 145);
        margin-left: 40%;
    }

    
    a{
        color: #5c7684;
        background-color: rgb(59, 81, 92);
        border: 2px solid #99bacc;
        border-radius:1ch;
    }    
   